.projects {
    display: flex;
}

.text-part {
    width: 65%;
    box-shadow: 2px;
    border: 10px solid #FFC0CB;
    border-top-right-radius: 20px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.text-part a {
    color: aqua;
}

.text-part h3 {
    font-weight: bolder;
    color: aquamarine;
}

.gallary {
    width: 30%;
    border: 10px solid aqua;
    border-top-right-radius: 10px;
}

.tcolor {
    color: white;
}

.portfolio-title {
    margin-top: 50px;
}