/* Your existing CSS code here */

/* Responsive code for screens between 577px and 769px */
@media screen and (max-width: 576px) {
    body {
        width: 100%;
    }

    .half-width {
        width: auto;

    }

    .half-width img {
        width: 100%;

    }


    #smart-parent {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .smart-text {
        width: 100%;
    }

    #second-section {
        width: auto;
        margin-top: 500px;
    }

    .services-area {
        margin-top: 550px;
    }

    .each-services-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .forth-section {
        margin-top: 700px;
    }

    #single-items-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .single-items img {
        width: 50%;
        height: 100%;

    }

    #parent-section {
        width: auto;
    }

    .contact-container {
        margin-top: 1000px;
    }

    .form-parent {
        display: flex;
        flex-direction: column;
    }

    .form-address-parent {
        display: flex;
        flex-direction: column;
    }

    .form-single-address {
        text-align: left;
        margin-left: 10px;
    }

    footer {
        width: auto;
    }

    .footer-container {
        width: auto;
        margin-top: 900px;
        margin-left: 50px;
    }

    .footer-singlItem-parent {
        display: flex;
        flex-direction: column;
    }

    .footer-menuItem ul {
        display: flex;
        flex-direction: column;
    }
}