/* Your existing CSS code here */

/* Responsive code for screens between 577px and 769px */
@media screen and (max-width: 576px) {
    #smart-parent {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .smart-text {
        width: 100%;
    }

    #second-section {
        width: 100%;
        margin-top: 700px;
    }

    .services-area {
        margin-top: 550px;
    }

    .each-services-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .forth-section {
        margin-top: 700px;
    }

    #single-items-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .contact-container {
        margin-top: 300px;
    }

    .form-parent {
        display: flex;
        flex-direction: column;
    }

    .form-address-parent {
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        margin-top: 900px;
        margin-left: 50px;
    }

    .footer-singlItem-parent {
        display: flex;
        flex-direction: column;
    }
}